@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: "Roboto", sans-serif;
	}

	html,
	body {
		min-height: 100vh;
		background-color: #16151b;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.my-hover {
		background-color: rgba(112, 58, 212, 0.911);
		border-radius: 6px;
		transition: 0.3s ease;
		color: white;
		width: fit-content;
	}
	.my-max {
		width: min(100% - 20px, 1300px) !important;
		margin-inline: auto;
	}
	.my-sm {
		@media (min-width: 400px) {
			grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
		}
	}

	/* =======audioplayer=====
	 */
	.me {
		background-color: rgb(60, 26, 182);
		color: white;
		border-radius: 10px;
		.rhap_download-progress {
			background-color: white;
		}
		.rhap_current-time,
		.rhap_total-time {
			color: white;
			font-size: 16px;
		}
		.rhap_progress-indicator {
			background-color: rgb(255, 102, 0);
			top: -4px;
			width: 13px;
			height: 13px;
		}
		.rhap_button-clear.rhap_repeat-button {
			color: white;
		}
		svg {
			color: white;
		}
		.rhap_volume-indicator {
			background-color: white;
		}
		.rhap_progress-filled {
			background-color: rgb(255, 102, 0);
		}
	}

	.scrolling-carousel {
		position: relative;
		width: 100%;
		height: 20px;
		overflow: hidden;
	}

	.scrolling-text {
		position: absolute;
		white-space: nowrap;
		animation: scroll 15s linear infinite;
		/* Set initial position to outside of container */
		transform: translateX(100%);
	}

	@keyframes scroll {
		0% {
			/* Move text back into container */
			transform: translateX(100%);
		}

		100% {
			/* Stay at end position for 1 second, then move back to start */
			transform: translateX(-100%);
			animation-delay: 1s;
		}
	}
}
